
@import "../node_modules/bootstrap/scss/bootstrap";
.meme-form{
    .form-label{
        color: #374151 !important;
        font-weight: 200 !important;
    }
    input{
        &::placeholder{
            color: #6B7280 !important;
        }
    }
    button{
        height: 40px;
        border-radius: 5px;
        background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
        color: white;
        font-weight: 600;
        &:hover{
            color: white !important;
        }
    }
    &-container{
        margin: 3em 0;
        position: relative;
        img{
            max-height: 500px;
            @include media-breakpoint-up(lg){
                height: 500px;
            }
        }
        &__text{
            overflow-wrap: break-word;
            position: absolute;
            max-width: 80%;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            margin: 15px 15px;
            padding: 0 5px;
            font-family: impact, sans-serif;
            font-size: 2em;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                0 2px 0 #000,
                2px 0 0 #000,
                0 -2px 0 #000,
                -2px 0 0 #000,
                2px 2px 5px #000;
            &.top{
                top: 0;
            }
            &.bottom{
                bottom: 0;
            }
        }
    }
}