.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    a {
        width: 40px;
    }
    &--icon{
        background-image: url(../../assets/airbnb.svg);
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 100%;
        width: 100px;
        height: 40px;
    }
}